<h1><%= link_to 'START', test2s_path %></h1>
<!-- このページは使わなくなった→コード消すのもったいないから残しておく -->
<!-- <div id="wrapper" class="divided">
  <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
    <div class="content">
      <h2>
        <%= link_to 'Add new', new_post_path, class: 'header-menu' %>
        My Posts
      </h2>
      <ul class="actions vertical">
        <% @posts.each do |post| %>
        <li>
          <%= link_to post.title, post_path(post) %>
          <%= link_to '[Edit]', edit_post_path(post), class: 'command'%>
          <%= link_to '[X]', post_path(post), 
          method: :delete,
          class: 'command',
          data:{ confirm: 'Sure?' } %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
</div> -->
