<!DOCTYPE HTML>
<!--
Story by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  <head>
    <title>英単語テスト</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-112396628-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-112396628-1');
    </script>
  </head>
  <body>
    <!-- Wrapper -->
      <div id="wrapper" class="divided">
        <!-- One -->
          <section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
            <div class="content">
              <%= yield %>
              
              <ul class="icons">
								<li><a href="https://twitter.com/share" class="icon style2 fa-twitter" data-text=""><span class="label">Twitter</span></a></li>
								<li><a href="http://www.facebook.com/share.php?u=https://auky.herokuapp.com/" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="http://line.me/R/msg/text/?https://auky.herokuapp.com/" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>
							</ul>
              
            </div>
          </section>
          
          
          <!-- Footer -->
          <footer class="wrapper style1 align-center">
            <div class="inner">
              
              <!--  ad tags Size: 300x250 ZoneId:1275975-->
              <script type="text/javascript" src="http://js.medi-8.net/t/275/975/a1275975.js"></script>
              
              <p>&copy; 2013 New General Service List:Browne, C., Culligan, B., and Phillips, J.</p>
              <p>&copy; Untitled. Design: <a href="https://html5up.net">HTML5 UP</a>.</p>
            </div>
          </footer>
          
          
      </div>

      <!-- Scripts -->
      <%= javascript_include_tag 'application' %>
      <%= javascript_include_tag 'jquery.min.js'  %>
      <%= javascript_include_tag 'jquery.scrollex.min.js' %>
      <%= javascript_include_tag 'jquery.scrolly.min.js' %>
      <%= javascript_include_tag 'skel.min.js' %>
      <%= javascript_include_tag 'util.js' %>
      <%= javascript_include_tag 'main.js' %>
      
  </body>
</html>
